*
{
    transition: all 1s;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(196, 45, 50, 0.68);
    color: #fff;
    text-shadow: none;
}


body
{
    
    
    margin-top: 20px;
    padding: 0px;
    background-color: #ffffff;
    color: #444444;
    line-height: 2;
    font-family: cursive;
    overflow-x: hidden;
    font-weight: 800;
    font-size: 16px;
    
    
}

/*start nav*/


.navbar{
	background: black!important;
}

.navbar i {
    color: white;
    margin-left: 20px;
}
.navbar-nav {
    font-weight: 700;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-item{
    
    font-family: cursive;
    color: white;
    
}
.navbar-nav .dropdown-menu {
    background-color: #702124;
}

/*end nav*/







  


#ISO14001{
    margin: 100px;
}

#ISO14001 h1{
    text-align: center;
    margin: 40px 0px;
    color: brown;
}

#ISO14001 h2{
    
    margin: 40px 0px;
    color: brown;
  
}

#ISO14001 video{
margin-top: 100px;
width: 700px!important;
}
    
}

.process{
    margin-top: 40px;
    
}

.process h2{
 color: brown;
    
} 

.img img{
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.requird{
     padding-bottom: 20px;
    margin-bottom: 20px;
}


/* start footer   */

footer {
 background: #702124;
font-family: cursive;
color: white;
margin-top:100px;
}

    
footer h4{
color: black;
margin: 5px;   
}
    
    
footer a {
color: #fff;
font-size: 14px;
transition-duration: 0.2s;
}



footer a:hover {
color: #FA944B;
text-decoration: none;
}

.copy {
font-size: 12px;
padding: 10px;
border-top: 1px solid #FFFFFF;
}

.footer-middle {
padding-top: 2em;
color: white;
}






/*end foooter*/


