*
{
    transition: all 1s;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(196, 45, 50, 0.68);
    color: #fff;
    text-shadow: none;
}


body
{
    
    
    margin-top: 100px;
    padding: 0px;
    background-image: linear-gradient(#ffd89b,#185a9d,#19547b,#b06ab3);
    color: #444444;
    line-height: 2;
    font-family: cursive,monospace,fantasy,sans-serif;
    overflow-x: hidden;
    font-weight: 800;
    font-size: 16px;
    
    

  
}

#logo_policy{
    margin: 20px;
}

#logo_policy h1{
    text-align: center;
    margin: 40px 0px;
    color: brown;
}

#logo_policy h2{
    
    margin: 40px 0px;
    color: brown;
  
}

.btn{
 margin: 20px 0px;
 padding: 10px ;
    font-family: cursive;
 
}


.requird li span{
     color: brown;
     padding-right: 10px;
     font-weight: bolder;
    font-family: monospace;
}





/*start nav*/


.navbar{
	background: black!important;
}

.navbar i {
    color: white;
    margin-left: 20px;
}
.navbar-nav {
    font-weight: 700;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-item{
    
    font-family: cursive;
    color: white;
    
}
.navbar-nav .dropdown-menu {
    background-color: #702124;
}

/*end nav*/










/* start footer   */

footer {
 background: #702124;
font-family: cursive;
color: white;
margin-top:100px;
}

    
footer h4{
color: black;
margin: 5px;   
}
    
    
footer a {
color: #fff;
font-size: 14px;
transition-duration: 0.2s;
}



footer a:hover {
color: #FA944B;
text-decoration: none;
}

.copy {
font-size: 12px;
padding: 10px;
border-top: 1px solid #FFFFFF;
}

.footer-middle {
padding-top: 2em;
color: white;
}






/*end foooter*/

